
//https://coolors.co/export/pdf/96ccff-1c77ce-256eff-234e7d-2a5f98

//Pentablues
$blue: #96ccff;
$blue2: #1c77ce;
$blue3: #256eff;
$blue4: #234e7d;
$blue5: #2a5f98;

//other colors
$red: #EE5F5B;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$background_gray:#E7E7E7;
$light-gray: #F4F4F4;
