<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://kitt.lewagon.com/placeholder/cities/shanghai');">
        <div class="card-category">Popular</div>
        <div class="card-description">
          <h2> Nome da laundry</h2>
          <p>Preço do Kg:</p>
        </div>
        <%= link_to "Saiba mais", '#' %>
      </div>
    </div>
  </div>
</div>
