<%= link_to '#' do %>
  <div class="col-xs-12 col-sm-4">
    <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= laundry.cnpj %>);">
      <div class="card-category"></div>
      <div class="card-description">
        <h2> <%= laundry.name  %></h2>
        <h6> <strong>Preço por kg: R$<%= laundry.price_kg %>,00</strong></h6>
      </div>
    </div>
  </div>
<% end %>
