<div class="container-laundry">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
       <div class="card-laundry">
        <img src="app/images/logo.png" class="card-user-avatar">
          <div class="card-laundry-infos">
           <h1>Laundry Name</h1>
           <p>Address</p>
          </div>
          <div class = card-laundry-prices>
            <p> Preco per kg</p>
            <p> Capacidade </p>
          </div>
       </div>
    </div>
  </div>
</div>
