<!-- <h1>Pedidos da lavanderia aqui! \o/</h1>
<p>Find me in app/views/laundry/orders/index.html.erb</p>

 -->
<!--<% @orders.each do |order| %>
  <p>Lavanderia: <%= order.laundry.name %></p>
<% end %> -->

 <div class="container">
  <h1></h1><br>

  <div class="panel panel-info">
    <div class="panel-heading">
      <h4>Minhas Entregas</h4>
    </div>


    <table class="table" style="width:100%">
      <tr>
        <th>Nome</th>
        <th>Lavanderia</th>
        <th>Endereço</th>
        <th>Itens</th>
        <th>Valor</th>
        <th>Status</th>
      </tr>

      <tr>
        <td>Jiraya</td>
        <td>5asec</td>
        <td>Alameda Itu, 420</td>
        <td>20</td>
        <td>R$: 300,00</td>
        <td>Pendente</td>
      </tr>

      <tr>
        <td>Tompson Nunes</td>
        <td>laundromat</td>
        <td>Rua Augusta, 153</td>
        <td>5</td>
        <td>R$: 75,00</td>
        <td>Pendente</td>
      </tr>

      <tr>
        <td>Hammurai Son</td>
        <td>laundromat</td>
        <td>Rua dos Pinheiros, 1442</td>
        <td>10</td>
        <td>R$: 200,00</td>
        <td>Pendente</td>
      </tr>

      <tr>
        <td>Murilo Cachette</td>
        <td>5asec</td>
        <td>Rua das Sempre Vivas, 1404</td>
        <td>10</td>
        <td>R$: 250,00</td>
        <td>Pendente</td>
      </tr>
    </table>

  </div>

</div>
