.banner {
  color: white;
  text-align: center;
  min-height: calc(100vh - 170px);
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  min-width: 100% !important;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

.carousel-control {
z-index: 10;
margin: 0;
}

.imagem-banner {
  margin: 1000 !important;
}

.carousel {
 margin: 0;
}

.content {
  margin: 0;
}
