.fa-address-card {
  font-size: 180px;
  margin-top: 23px;
  margin-left: 11px;
}

.fa-dollar-sign {
  font-size: 180px;
  padding: 21px;
  margin-left: 99px;
  &:hover {
    color: #1C77CE;
  }
}


.fa-shipping-fast {
  font-size: 180px;
  margin-top: 23px;
  margin-left: 30px;
}

.fa-arrow-circle-right {
  font-size: 89px;
  padding: 44px;
  opacity: 0.4;
}

.arrow2 {
  font-size: 89px;
  padding: 44px;
  opacity: 0.4;
  margin-left: 93px;
}

.arrow1 {
margin-left: 81px !important;
}

.p1 {
 margin-left: 58px;
 font-color: $blue !important;
}

.p2 {
  margin-left: 74px;
}

.p3 {
  margin-left: 175px;
}

.h2home {
  margin-right: 10px;
}
